<h1> By property Multi select </h1>
<dst-tree-select id="id1"
    [items]="data"
    [(ngModel)]="selectedUsers"
    [titleCase] = "true"
    [bindLabel] = "'Name'"
    [bindValue] = "'Id'"
    [includeEntireObject] = "false"
    [groupBy] = "'Teams'"
    [noDataFoundText] = "'No Teams Found'"
    [placeHolder] = "'Select Teams'"
    [closeOnSelect] = "false"
    [clearable] = "true"
    [clearAllText] = "'Remove All'"
    [dropdownOpen] = "false"
    [readonly] = "false"
    [multiple] = "true"
    [dropdownPosition] = "'left'"
    [searchable] = "true"
    [expandable] = "true"
    [height]="'400px'"
    [width]="'400px'"
    (open)="func('open',$event)"
    (close)="func('close',$event)"
    (change)="func('change',$event)"
    (select)="func('select',$event)"
    (clear)="func('clear',$event)"
    (clearAll)="func('clearAll',$event)"
    (search)="func('search',$event)"
    (scroll)="func('scroll',$event)"
    >
</dst-tree-select>

<h1> By Config Multi select </h1>
<dst-tree-select id="id2"
    [items]="data"
    [(ngModel)]="selectedUsers2"
    [config] = "config"
    (open)="func('open',$event)"
    (close)="func('close',$event)"
    (change)="func('change',$event)"
    (select)="func('select',$event)"
    (clear)="func('clear',$event)"
    (clearAll)="func('clearAll',$event)"
    (search)="func('search',$event)"
    (scroll)="func('scroll',$event)"
    >
</dst-tree-select>

<h1> By Config Single select </h1>
<dst-tree-select id="id3"
    [items]="data"
    [(ngModel)]="selectedUser"
    [config] = "singleSelectConfig"
    (open)="func('open',$event)"
    (close)="func('close',$event)"
    (change)="func('change',$event)"
    (select)="func('select',$event)"
    (clear)="func('clear',$event)"
    (clearAll)="func('clearAll',$event)"
    (search)="func('search',$event)"
    (scroll)="func('scroll',$event)"
    >
</dst-tree-select>

{{selectedUsers | json}} <br>
{{selectedUsers2 | json}} <br>
{{selectedUser | json}} <br> 